/**
 * @file
 * Throbber.
 */

.ajax-progress {
  display: inline-block;
  padding: 1px 5px 2px 5px;
}
[dir="rtl"] .ajax-progress {
  float: right;
}
.ajax-progress-throbber .throbber {
  background: transparent url(../../../images/core/throbber-active.gif) no-repeat 0px center;
  display: inline;
  padding: 1px 5px 2px;
}
.ajax-progress-throbber .message {
  display: inline;
  padding: 1px 5px 2px;
}
tr .ajax-progress-throbber .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%; /* LTR */
  position: fixed;
  top: 48.5%;
  z-index: 1000;
  background-color: #232323;
  background-image: url(../../../images/core/loading-small.gif);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 24px;
  opacity: 0.9;
  padding: 4px;
  width: 24px;
}
[dir="rtl"] .ajax-progress-fullscreen {
  left: auto;
  right: 49%;
}
/*2*/

/**
 * @file
 * Alignment classes for text and block level elements.
 */

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*3*/
/**
 * @file
 * Visual styles for animated throbber.
 *
 * @see autocomplete.js
 */

.js input.form-autocomplete {
  background-image: url(../../../images/core/throbber-inactive.png);
  background-position: 100% center; /* LTR */
  background-repeat: no-repeat;
}
.js[dir="rtl"] input.form-autocomplete {
  background-position: 0% center;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../../../images/core/throbber-active.gif);
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
}
/*4*/
/**
 * @file
 * Fieldgroup border reset.
 */

.fieldgroup {
  border-width: 0;
  padding: 0;
}
/*5*/
/**
 * @file
 * Inline items.
 */

.container-inline div,
.container-inline label {
  display: inline;
}
/* Details contents always need to be rendered as block. */
.container-inline .details-wrapper {
  display: block;
}
/**
 * @file
 * Float clearing.
 *
 * Based on the micro clearfix hack by Nicolas Gallagher, with the :before
 * pseudo selector removed to allow normal top margin collapse.
 *
 * @see http://nicolasgallagher.com/micro-clearfix-hack
 */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 */

.js details:not([open]) .details-wrapper {
  display: none;
}
/**
 * @file
 * Utility classes to hide elements in different ways.
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be collapsible details that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen readers.
 *
 * Used for information required for screen reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/**
 * The .focusable class extends the .visually-hidden class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

/**
 * Hide visually and from screen readers, but maintain layout.
 */
.invisible {
  visibility: hidden;
}

/**
 * @file
 * Styles for item list.
 */

.item-list__comma-list,
.item-list__comma-list li {
  display: inline;
}
.item-list__comma-list {
  margin: 0;
  padding: 0;
}
.item-list__comma-list li:after {
  content: ", ";
}
.item-list__comma-list li:last-child:after {
  content: "";
}
/**
 * @file
 * Utility classes to assist with Javascript functionality.
 */

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
.js .js-hide {
  display: none;
}

/**
 * For anything you want to show on page load only when JS is enabled.
 */
.js-show {
  display: none;
}
.js .js-show {
  display: block;
}
/**
 * @file
 * Utility class to prevent text wrapping.
 */

.nowrap {
  white-space: nowrap;
}
/*
 * @file
 * Contain positioned elements.
 */

.position-container {
  position: relative;
}
/**
 * @file
 * Progress behavior.
 *
 * @see progress.js
 */

.progress {
  position: relative;
}
.progress__track {
  background-color: #fff;
  border: 1px solid;
  margin-top: 5px;
  max-width: 100%;
  min-width: 100px;
  height: 16px;
}
.progress__bar {
  background-color: #000;
  height: 1.5em;
  width: 3%;
  min-width: 3%;
  max-width: 100%;
}
.progress__description,
.progress__percentage {
  color: #555;
  overflow: hidden;
  font-size: .875em;
  margin-top: 0.2em;
}
.progress__description {
  float: left; /* LTR */
}
[dir="rtl"] .progress__description {
  float: right;
}
.progress__percentage {
  float: right; /* LTR */
}
[dir="rtl"] .progress__percentage {
  float: left;
}
.progress--small .progress__track {
  height: 7px;
}
.progress--small .progress__bar {
  height: 7px;
  background-size: 20px 20px;
}
/*
 * @file
 * Utility class to remove browser styles, especially for button.
 */

.reset-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
/**
 * @file
 * Resizable textareas.
 */

.resize-none {
  resize: none;
}
.resize-vertical {
  resize: vertical;
  min-height: 2em;
}
.resize-horizontal {
  resize: horizontal;
  max-width: 100%;
}
.resize-both {
  resize: both;
  max-width: 100%;
  min-height: 2em;
}
/**
 * @file
 * Table header behavior.
 *
 * @see tableheader.js
 */

table.sticky-header {
  background-color: #fff;
  margin-top: 0;
  z-index: 500;
  top: 0;
}
/**
 * @file
 * Styles for the system status counter component.
 */

.system-status-counter__status-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.system-status-counter__status-icon:before {
  content: "";
  background-size: 20px;
  background-position: center 2px;
  background-repeat: no-repeat;
  display: block;
}

.system-status-counter__status-icon--error:before {
  background-image: url(../../../images/core/icons/e32700/error.svg);
}
.system-status-counter__status-icon--warning:before {
  background-image: url(../../../images/core/icons/e29700/warning.svg);
}
.system-status-counter__status-icon--checked:before {
  background-image: url(../../../images/core/icons/73b355/check.svg);
}
/**
 * @file
 * Styles for the system status report counters.
 */

.system-status-report-counters__item {
  width: 100%;
  padding: .5em 0;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.063);
  margin-bottom: .5em;
}

@media screen and (min-width: 60em) {
  .system-status-report-counters {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .system-status-report-counters__item--half-width {
    width: 49%;
  }
  .system-status-report-counters__item--third-width {
    width: 33%;
  }
}
/**
 * @file
 * Default styles for the System Status general info.
 */

.system-status-general-info__item {
  border: 1px solid #ccc;
  margin-top: 1em;
  padding: 0 1em 1em;
}

.system-status-general-info__item-title {
  border-bottom: 1px solid #ccc;
}
/**
 * @file
 * Table drag behavior.
 *
 * @see tabledrag.js
 */

body.drag {
  cursor: move;
}
tr.region-title {
  font-weight: bold;
}
tr.region-message {
  color: #999;
}
tr.region-populated {
  display: none;
}
tr.add-new .tabledrag-changed {
  display: none;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin-left: -1em; /* LTR */
  overflow: hidden;
  text-decoration: none;
}
[dir="rtl"] .draggable a.tabledrag-handle {
  float: right;
  margin-right: -1em;
  margin-left: 0;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(../../../images/core/icons/787878/move.svg) no-repeat 6px 7px;
  height: 14px;
  margin: -0.4em 0.5em 0;
  padding: 0.42em 0.5em;
  width: 14px;
}
a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  background-image: url(../../../images/core/icons/000000/move.svg);
}
.touchevents .draggable td {
  padding: 0 10px;
}
.touchevents .draggable .menu-item__link {
  display: inline-block;
  padding: 10px 0;
}
.touchevents a.tabledrag-handle {
  height: 44px;
  width: 40px;
}
.touchevents a.tabledrag-handle .handle {
  background-position: 40% 19px; /* LTR */
  height: 21px;
}
[dir="rtl"] .touch a.tabledrag-handle .handle {
  background-position: right 40% top 19px;
}
.touchevents .draggable.drag a.tabledrag-handle .handle {
  background-position: 50% -32px;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}
[dir="rtl"] .tabledrag-toggle-weight-wrapper {
  text-align: left;
}
.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
[dir="rtl"] .indentation {
  float: right;
  margin: -0.4em -0.4em -0.4em 0.2em;
  padding: 0.42em 0.6em 0.42em 0;
}
/**
 * @file
 * Table sort indicator.
 *
 * @see tablesort-indicator.html.twig
 */

.tablesort {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100%;
}
.tablesort--asc {
  background-image: url(../../../images/core/icons/787878/twistie-down.svg);
}
.tablesort--desc {
  background-image: url(../../../images/core/icons/787878/twistie-up.svg);
}
/**
 * @file
 * Visual styles for a nested tree child.
 */

div.tree-child {
  background: url(../../../images/core/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../../images/core/tree-bottom.png) no-repeat 11px center; /* LTR */
}
[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
  background-position: -65px center;
}
div.tree-child-horizontal {
  background: url(../../../images/core/tree.png) no-repeat -11px center;
}
@media all and (min-width: 768px) { nav.responsive-menu-block-wrapper { display: block; } div.responsive-menu-toggle { display: none; } }

.responsive-menu-block-wrapper {
  display: none;
}

html.mm-opened .mm-page {
  position: fixed !important;
  width: 100%;
}

.mm-page {
  background-color: #ffffff;
}

.mm-opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.mm-opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
  padding-left: 240px;
  padding-left: 15rem;
}

.horizontal-menu {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.horizontal-menu > li {
  display: inline-block;
  position: relative;
}

.horizontal-menu > li > a:hover,
.horizontal-menu > li.active-trail > a {
}


.horizontal-menu > li ul ul {
  left: 13.75em;
  top: 0;
}

.horizontal-menu ul .fly-left ul {
  left: -13.75em;
}

.horizontal-menu > li > a {
  display: block;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.35em;
  padding-left: 1em;
}

.horizontal-menu > li ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
  width: 13.75em;
  list-style: none;
}

.horizontal-menu li.sfHover > ul,
.horizontal-menu li:hover > ul {
  display: block;
}

.horizontal-menu li li {
  position: relative;
  float: left;
  width: 100%;
}

.horizontal-menu > li > li:hover > ul,
.horizontal-menu > li > li.sfHover > ul {
  display: block;
}

.horizontal-menu > li li > a {
    display: block;
    position: relative;
    padding-top: 0.25em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    text-transform: none;
}

.off-canvas-wrapper {
  display: block;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
}

.responsive-menu-toggle-icon {
  box-sizing: border-box;
  display: block;
  width: 44px;
  height: 35px;
  z-index: 4;
  margin-top: 0;
  position: relative;
}

.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon span.label {
  display: block;
  position: absolute;
  font-size: 17px;
  text-transform: uppercase;
  top: 2px;
  left: 40px;
  color: #fff;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: #fff;
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 13px;
  border-radius: 2px;
}

.responsive-menu-toggle-icon:before {
  top: 8px;
}

.responsive-menu-toggle-icon span.icon {
  top: 14px;
}

.responsive-menu-toggle-icon:after {
  top: 20px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  transition: none 0.4s ease-out 0.1s;
  transition-property: -webkit-transform, top, bottom, left, opacity;
  transition-property: transform, top, bottom, left, opacity;
}

html.mm-opening .responsive-menu-toggle-icon:before,
html.mm-opening .responsive-menu-toggle-icon:after {
  top: 14px;
}

html.mm-opening .responsive-menu-toggle-icon span.icon {
  left: -25px;
  opacity: 0;
}

html.mm-opening .responsive-menu-toggle-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

html.mm-opening .responsive-menu-toggle-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mm-blocker {
  background: rgba(0, 0, 0, 0);
}
.mm-opening #mm-blocker {
  background: rgba(0, 0, 0, 0.2);
  transition: background 1s ease 0.3s;
}
.mm-opening #page {
  border-left: 1px solid #ccc;
}

.mm-panel a {
  border-bottom: none;
}

ul.menu.mm-listview a.is-active {
  color: inherit;
}

.mm-panel a:hover {
  border: none;
}

.page-banner .banner-image-container,.page-banner .banner-image,.content .banner-image-container .banner-image .banner-image-box{height:auto;max-height: 500px;}
.st0desktop {opacity: .7;fill: #000}
.st1desktop {opacity: .7;fill: #6e6b68} 
.st2desktop {clip-path: url(#SVGID_2_);fill: #fff}
.st3desktop {opacity: .25;fill: #2c2c2a;stroke: #000;stroke-miterlimit: 10}                                                                                                         
.st4desktop {opacity: .4;fill: #fff}                                                                             
.st5desktop {display: none}
.st5desktop, .st6desktop {opacity: .5;fill: #007db1}
.st7desktop {fill: #fff}
.st129desktop {font-size: 62px;color: #fff;fill: #fff}
.st0mobile {opacity: .7;fill: #000}
.st1mobile {opacity: .7;fill: #6e6b68}
.st3mobile {opacity: .25;fill: #2c2c2a}
.st4desktop {opacity: .4;fill: #fff}
.st0 {fill: #fff}
.st2 {display: inline}
.st4 {font-size: 30px;color: #fff}


.conceptPart1{ padding:60px 0;}
.conceptPart1 .title{ text-align:center; font-size:30px; color:#333; background:url(http://www.lancai-int.com/style/images/ico4.jpg) center bottom no-repeat; height:60px;}
.conceptPart1 .content{ font-size:16px; line-height:38px; padding:20px 168px 0; text-align:center;}

.conceptPart2{ /*background:url(http://www.lancai-int.com/style/images/concept2.jpg) center top no-repeat; */background-color: #999999;height:320px; padding-top:95px;}
.conceptPart2 .title{ text-align:center; font-size:30px; color:#333; background:url(http://www.lancai-int.com/style/images/ico4.jpg) center bottom no-repeat; height:60px; color:#fff;}
.conceptPart2 .content{ font-size:16px; line-height:38px; padding-top:36px; text-align:center; color:#fff;}

.conceptPart3{ padding-top:60px;}
.conceptPart3 .title{ text-align:center; font-size:30px; padding-bottom:70px;}
.conceptPart3 .list li{ width:33%; height:240px; float:left; text-align:center; font-size:16px; line-height:38px; border-right:#dedede solid 1px;}
.conceptPart3 .list li .box{ height:240px;}
.conceptPart3 .list li:last-child{ border-right:none;}
.conceptPart3 .list li.li01{ text-align:left;}
.conceptPart3 .list li.li01 .box{ width:230px; text-align:center;}
.conceptPart3 .list li.li02{ text-align:right;}
.conceptPart3 .list li.li02 .box{ width:160px; text-align:center; float:right;}
.conceptPart3 .list li .ico{ padding-bottom:20px;}
.list ul,.list ul li{list-style: none;margin:0;padding:0;}
.list .box .mag{text-align: center;}
.footershare i.fa{font-size: 55px;margin:0 10px;margin-top:30px;}
@media screen and (max-width: 768px){
  .footershare i.fa{font-size: 32px;}
  .conceptPart1 .content{padding:0 2%;}
  .page .banner-image-container .banner-image{padding-top: 40% !important;}
  .conceptPart1,.conceptPart2,.conceptPart3{height:auto;}
  .conceptPart1,.conceptPart2,.conceptPart3{padding:20px 0;}
  .conceptPart1 .title,.conceptPart2 .title,.conceptPart3 .title{font-size: 22px;}
.conceptPart3 .list li{font-size: 13px;line-height: 26px;}
}
@media only screen and (min-width: 768px){
  .page-banner .zoom-box .zoom.zoom-5-2{padding-top: 500px;}
}
.pageTop{ height:54px; line-height:54px; border-bottom:#c7c7c7 solid 1px;}
.pageTop .wal{ position:relative;width:90%;margin:0 auto;}
.pageNow{ color:#a4a4a4; background:url(../images/nimg16_1.png) left center no-repeat; padding-left:30px;}
.pageNow a{ color:#a4a4a4;margin:0 3px;}
.pageNow a:hover{ text-decoration:underline;}
.pageNow img{ position:relative; padding-right:8px; top:-2px;}
.pageNow em,.pageNow a:last-child{ color:#01408f;}
.pageNav{ position:absolute; right:0px; top:0px;}
.pageNav ul{margin:0;padding:0;}
.pageNav li{ height:54px; float:left; text-align:center; font-size:16px; margin-left:55px;list-style: none;}
.pageNav li a{ color:#666; display:block; height:52px;text-decoration: none;}
.pageNav li a:hover, .pageNav li a.aNow{ border-bottom:#01408f solid 3px; color:#01408f;}